@use '../../styles/vars';

.menu {
  grid-area: menu;
  background-color: #042031;
  padding: 1.2rem 0 1.2rem 1.2rem;
  color: vars.$alt-color;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: large;
  font-weight: 500;

  &-link--selected {
    color: #209CEE;
    border-right: 4px solid #209CEE;
    font-weight: 700;
  }
}
