@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  display: flex;
  max-width: 100vw;
  background-color: vars.$light-color;
}

h1, h2 {
  font-weight: 700;
  line-height: 1.2;
}

button, .button {
  border: none;
  border-radius: 3px;
  padding: .6rem;
  background-color: #209CEE;
  color: vars.$light-color;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
