@use '../../styles//vars';

.app {
  font-family: vars.$global-font;
  font-weight: vars.$global-font-weight;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas: 
    'menu form form form'
    'menu main main main'
    'menu main main main';
}

.container {
  padding: 0 1rem;
}